.pane{
-fx-background-color:#FCF6F5;
-fx-border-radius:15px;
-fx-border-color:gray;
}

.pane:hover{
-fx-background-color:#e0e2db;
-fx-border-radius:15px;
-fx-border-color:black;
-fx-background-radius:15px;
-fx-border-width:2px;
}

.image{
border-radius:15px;
}

.button{
-fx-background-color:fffff;
-fx-border-radius:20px;
-fx-border-color:gray;
}

.button:hover{
-fx-background-color:#FCF6F5;
-fx-background-radius:20px;
-fx-border-radius:20px;
-fx-border-color:black;
}